# Log file
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Node.js
#node_modules/
#package.json
#package-lock.json

# Canvas cache
cache

# Secrets
/auth_token
/gitlab_config_personal.py
/google_tools/credentials.json
/google_tools/token.pickle
/cert.pem
/key.pem
