graphviz==0.16
argcomplete==1.12.1
gspread==3.6.0
requests==2.26.0
dominate==2.6.0
chardet==4.0.0
google_auth_oauthlib==0.4.2
python_gitlab==2.10.1
gitlab==1.0.2
GitPython==3.1.24
google_api_python_client==2.25.0
protobuf==3.18.1
PyPDF2==1.26.0
python_dateutil==2.8.2
atomicwrites==1.4.0
