# inspect/enable/start/stop the service using systemctl status/enable/start/stop

[Unit]
Description=Event loop service for lab system.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=900s
KillSignal=SIGINT
# ACTION: fix lab system directory
WorkingDirectory=%h/lab-system
# ACTION: replace as follows:
# * fix path to event loop script
# * replace COURSE_CODE by lower case course code,
# * replace PORT by some unique port number of the form 42XX,
# * specify labs to sync with Canvas (initially just -s 1).
ExecStart=%h/lab-system/run_event_loop.py \
  --dir dat151 \
  --sync-from-canvas 1 \
  --start-with-sync \
  --sync-period 900 \
  --error-spreadsheet 1vlasVmvtmrvae8Owq8P1VpHayrVrG20akmQD1YCzHd0 \
  --log dat151/log \
  --verbose \
  run

# Use this for debugging to disable student sync and error notification spam
#ExecStart=%h/lab-system/run_event_loop.py -d dat151 -l dat151/log -v run

[Install]
WantedBy=default.target
