# To deploy this on the lab server:
# * Create a copy of this file somewhere, perhaps in the local course directory.
# * Deal with the ACTION items below.
# * Symlink to this file in ~/.config/systemd/user/
# * Enable lingering for the user:
#     loginctl enable-linger
# * Inspect/enable/start/stop/restart the service using
#     systemctl --user status/enable/start/stop/restart.
# * After editing this file, run
#     systemd --user daemon-reload
#   and restart for changes to take effect.

[Unit]
Description=Event loop service for lab system.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=900s
KillSignal=SIGINT
WorkingDirectory=%h/lab-system
ExecStart=%h/lab-system/run_event_loop.py \
  --dir dat516 \
  --error-spreadsheet 1RwyLdrDGqul5h13SX7FTlzjDBhmGr4ijLptpxlQRAgc \
  --log dat516/log \
  --verbose \
  run

# Use this for debugging to disable student sync and error notification spam
#ExecStart=%h/lab-system/run_event_loop.py --dir dat516 --log dat516/log --verbose --disable-canvas-sync run

[Install]
WantedBy=default.target
